.table-container {
  width: 100%;
  height: 90vh;
  overflow: scroll;
}

.table {
  position: relative;
  width: 2000px;
}

.table td, th, .table {
  
  border: 1px solid black;
  border-collapse: collapse;
}

.t-header {
  width: 10px;
  overflow: auto;
  resize: horizontal;
}

.table td {
  overflow: auto;
  overflow-y: hidden;
  overflow-x: hidden;
}

.table td:hover {
  border: 2px solid rgb(91, 210, 250);
}

.row-header {
  width: 30px;
  background-color: rgb(206, 193, 193);
  overflow: auto;
  resize: vertical;
}

.table td input {
  border: none;
  position: relative;
  width: 95%;
  height: 90%;
}

.table td input:focus {
  outline: none;
  border: none;
  z-index: 2;
}
